.flex-center{
    display: flex; 
    justify-content: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.border{
    border: 1px solid gray;
    border-radius: 5px;
}
form.flex-center{
    flex-direction: column; 
    padding: 10px;
}
.label-margine{
    margin-bottom: 10px;
}
.border-radius{
    border-radius: 3px;
    padding: 5px 15px 4px;
    border: 1px solid grey;
}
.margine-bot{
    display: flex;
    margin-bottom: 15px;
}
.fioInput{
    display: flex;
    justify-content: space-between;
}
.fioInput > div{
    display: flex;
}
#male{
    margin-left: 0;
}
#eyeColorWrap{
    justify-content: space-between;
}
.inputBackgroundColor{
    background-color: #fff;
}
.button{
    height: 50px;
    cursor: pointer;
    align-items: center;
    transition: all 0.18s ease-in-out;
    color: #000;
    background: #fff;
}
.button:hover{
    background: gray;
    color: #fff;
}
#docs{
    display: none;
}
input[type=image]{
    width: 100px;
}